footer{
    background-color: #010D24;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 0;
    bottom: 0;
}
.p{
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #fff;
    text-decoration: none;
}

.redes_sociales a{
    font-size: 1.3rem;
    color: #ffffff;
    margin: 0.7rem;
}